<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>
  <form action="/config" method="POST">
    <h2 id="header">Mock Interview Bot Configuration</h2>
    <p>
      The below configuration options are integral to the proper operation of
      Mock Interview Bot! Please take the time to fill out ALL options,
      regardless of how you wish to use the tool. You are free to change these
      options at any time by using the
      <code>config</code> cmd in the Zulip chat.
    </p>
    <p>
      Please check the official documentation and repository for further
      information and don't hesistate to reach out to Chetan Kini with any
      questions or concerns.
    </p>
    <hr class="thick" />
    <h3>General Settings</h3>
    <hr />
    <div class="form-group">
      <label
        >1. I am reasonably comfortable solving or understanding this level of
        problem:</label
      >
      <div>
        <div class="custom-control custom-radio custom-control-inline">
          <input
            name="experience"
            id="experience0"
            type="radio"
            aria-describedby="experienceHelpBlock"
            required="required"
            class="custom-control-input"
            value="easy"
          />
          <label for="experience0" class="custom-control-label">Easy</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input
            name="experience"
            id="experience1"
            type="radio"
            aria-describedby="experienceHelpBlock"
            required="required"
            class="custom-control-input"
            value="medium"
          />
          <label for="experience1" class="custom-control-label">Medium</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input
            name="experience"
            id="experience2"
            type="radio"
            aria-describedby="experienceHelpBlock"
            required="required"
            class="custom-control-input"
            value="hard"
          />
          <label for="experience2" class="custom-control-label">Hard</label>
        </div>
        <span id="experienceHelpBlock" class="form-text text-muted"
          >Used to make the best possible match (when a pairing session is set
          up)</span
        >
      </div>
    </div>
    <div class="form-group">
      <label>2. I would like my questions to come from:</label>
      <div>
        <div class="custom-controls-stacked">
          <div class="custom-control custom-radio">
            <input
              name="questionList"
              id="questionList0"
              type="radio"
              aria-describedby="questionListHelpBlock"
              required="required"
              class="custom-control-input"
              value="top100Liked"
            />
            <label for="questionList0" class="custom-control-label"
              >Top 100 Liked Questions</label
            >
          </div>
        </div>
        <div class="custom-controls-stacked">
          <div class="custom-control custom-radio">
            <input
              name="questionList"
              id="questionList1"
              type="radio"
              aria-describedby="questionListHelpBlock"
              required="required"
              class="custom-control-input"
              value="topInterviewQuestions"
            />
            <label for="questionList1" class="custom-control-label"
              >Top Interview Questions</label
            >
          </div>
        </div>
        <div class="custom-controls-stacked">
          <div class="custom-control custom-radio">
            <input
              name="questionList"
              id="questionList2"
              type="radio"
              aria-describedby="questionListHelpBlock"
              required="required"
              class="custom-control-input"
              value="blind75"
            />
            <label for="questionList2" class="custom-control-label"
              >Blind 75</label
            >
          </div>
        </div>
        <div class="custom-controls-stacked">
          <div class="custom-control custom-radio">
            <input
              name="questionList"
              id="questionList3"
              type="radio"
              aria-describedby="questionListHelpBlock"
              required="required"
              class="custom-control-input"
              value="leetcodePatterns"
            />
            <label for="questionList3" class="custom-control-label"
              >LeetCode Patterns</label
            >
          </div>
        </div>
        <div class="custom-controls-stacked">
          <div class="custom-control custom-radio">
            <input
              name="questionList"
              id="questionList4"
              type="radio"
              aria-describedby="questionListHelpBlock"
              required="required"
              class="custom-control-input"
              value="random"
            />
            <label for="questionList4" class="custom-control-label"
              >Random / All Questions</label
            >
          </div>
        </div>
        <span id="questionListHelpBlock" class="form-text text-muted"
          >Please see github.com/recurse-mock-interview-bot/README.md for
          information on these psets</span
        >
      </div>
    </div>

    <div class="form-group">
      <label>3. I would like to be tested on:</label>
      <div>
        <div class="custom-control custom-radio custom-control-inline">
          <input
            name="topicSelection"
            id="topicSelection0"
            type="radio"
            class="custom-control-input"
            value="randomTopic"
            aria-describedby="topicSelectionHelpBlock"
            required="required"
          />
          <label for="topicSelection0" class="custom-control-label"
            >All topics</label
          >
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input
            name="topicSelection"
            id="topicSelection1"
            type="radio"
            class="custom-control-input"
            value="manualTopic"
            aria-describedby="topicSelectionHelpBlock"
            required="required"
          />
          <label for="topicSelection1" class="custom-control-label"
            >Specific topics of my choosing</label
          >
        </div>
        <span id="topicSelectionHelpBlock" class="form-text text-muted"
          >All topics more closely resembles a real interview but feel free to
          work on particular weak points</span
        >
      </div>
    </div>
    <div class="form-group">
      <label
        >4. I would like to review (leave blank if the selection should be
        random):</label
      >
      <div>
        <div class="custom-controls-stacked">
          <div class="custom-control custom-checkbox">
            <input
              name="topics"
              id="topics0"
              type="checkbox"
              aria-describedby="topicsHelpBlock"
              class="custom-control-input"
              value="array"
            />
            <label for="topics0" class="custom-control-label"
              >Array (312)</label
            >
          </div>
        </div>
        <div class="custom-controls-stacked">
          <div class="custom-control custom-checkbox">
            <input
              name="topics"
              id="topics1"
              type="checkbox"
              aria-describedby="topicsHelpBlock"
              class="custom-control-input"
              value="backtracking"
            />
            <label for="topics1" class="custom-control-label"
              >Backtracking (67)</label
            >
          </div>
        </div>
        <div class="custom-controls-stacked">
          <div class="custom-control custom-checkbox">
            <input
              name="topics"
              id="topics2"
              type="checkbox"
              aria-describedby="topicsHelpBlock"
              class="custom-control-input"
              value="binarySearch"
            />
            <label for="topics2" class="custom-control-label"
              >Binary Search (102)</label
            >
          </div>
        </div>
        <div class="custom-controls-stacked">
          <div class="custom-control custom-checkbox">
            <input
              name="topics"
              id="topics3"
              type="checkbox"
              aria-describedby="topicsHelpBlock"
              class="custom-control-input"
              value="bitManipulation"
            />
            <label for="topics3" class="custom-control-label"
              >Bit Manipulation (57)</label
            >
          </div>
        </div>
        <div class="custom-controls-stacked">
          <div class="custom-control custom-checkbox">
            <input
              name="topics"
              id="topics4"
              type="checkbox"
              aria-describedby="topicsHelpBlock"
              class="custom-control-input"
              value="breadth-firstSearch"
            />
            <label for="topics4" class="custom-control-label"
              >Breadth-first Search (89)</label
            >
          </div>
        </div>
        <div class="custom-controls-stacked">
          <div class="custom-control custom-checkbox">
            <input
              name="topics"
              id="topics5"
              type="checkbox"
              aria-describedby="topicsHelpBlock"
              class="custom-control-input"
              value="depth-firstSearch"
            />
            <label for="topics5" class="custom-control-label"
              >Depth-first Search (156)</label
            >
          </div>
        </div>
        <div class="custom-controls-stacked">
          <div class="custom-control custom-checkbox">
            <input
              name="topics"
              id="topics6"
              type="checkbox"
              aria-describedby="topicsHelpBlock"
              class="custom-control-input"
              value="design"
            />
            <label for="topics6" class="custom-control-label"
              >Design (60)</label
            >
          </div>
        </div>
        <div class="custom-controls-stacked">
          <div class="custom-control custom-checkbox">
            <input
              name="topics"
              id="topics7"
              type="checkbox"
              aria-describedby="topicsHelpBlock"
              class="custom-control-input"
              value="divideAndConquer"
            />
            <label for="topics7" class="custom-control-label"
              >Divide and Conquer (21)</label
            >
          </div>
        </div>
        <div class="custom-controls-stacked">
          <div class="custom-control custom-checkbox">
            <input
              name="topics"
              id="topics8"
              type="checkbox"
              aria-describedby="topicsHelpBlock"
              class="custom-control-input"
              value="dynamicProgramming"
            />
            <label for="topics8" class="custom-control-label"
              >Dynamic Programming (251)</label
            >
          </div>
        </div>
        <div class="custom-controls-stacked">
          <div class="custom-control custom-checkbox">
            <input
              name="topics"
              id="topics9"
              type="checkbox"
              aria-describedby="topicsHelpBlock"
              class="custom-control-input"
              value="graph"
            />
            <label for="topics9" class="custom-control-label">Graph (56)</label>
          </div>
        </div>
        <div class="custom-controls-stacked">
          <div class="custom-control custom-checkbox">
            <input
              name="topics"
              id="topics10"
              type="checkbox"
              aria-describedby="topicsHelpBlock"
              class="custom-control-input"
              value="greedy"
            />
            <label for="topics10" class="custom-control-label"
              >Greedy (144)</label
            >
          </div>
        </div>
        <div class="custom-controls-stacked">
          <div class="custom-control custom-checkbox">
            <input
              name="topics"
              id="topics11"
              type="checkbox"
              aria-describedby="topicsHelpBlock"
              class="custom-control-input"
              value="hashTable"
            />
            <label for="topics11" class="custom-control-label"
              >Hash Table (143)</label
            >
          </div>
        </div>
        <div class="custom-controls-stacked">
          <div class="custom-control custom-checkbox">
            <input
              name="topics"
              id="topics12"
              type="checkbox"
              aria-describedby="topicsHelpBlock"
              class="custom-control-input"
              value="heap"
            />
            <label for="topics12" class="custom-control-label">Heap (41)</label>
          </div>
        </div>
        <div class="custom-controls-stacked">
          <div class="custom-control custom-checkbox">
            <input
              name="topics"
              id="topics13"
              type="checkbox"
              aria-describedby="topicsHelpBlock"
              class="custom-control-input"
              value="linkedList"
            />
            <label for="topics13" class="custom-control-label"
              >Linked List (43)</label
            >
          </div>
        </div>
        <div class="custom-controls-stacked">
          <div class="custom-control custom-checkbox">
            <input
              name="topics"
              id="topics14"
              type="checkbox"
              aria-describedby="topicsHelpBlock"
              class="custom-control-input"
              value="math"
            />
            <label for="topics14" class="custom-control-label"
              >Math (202)</label
            >
          </div>
        </div>
        <div class="custom-controls-stacked">
          <div class="custom-control custom-checkbox">
            <input
              name="topics"
              id="topics15"
              type="checkbox"
              aria-describedby="topicsHelpBlock"
              class="custom-control-input"
              value="recursion"
            />
            <label for="topics15" class="custom-control-label"
              >Recursion (38)</label
            >
          </div>
        </div>
        <div class="custom-controls-stacked">
          <div class="custom-control custom-checkbox">
            <input
              name="topics"
              id="topics16"
              type="checkbox"
              aria-describedby="topicsHelpBlock"
              class="custom-control-input"
              value="slidingWindow"
            />
            <label for="topics16" class="custom-control-label"
              >Sliding Window (27)</label
            >
          </div>
        </div>
        <div class="custom-controls-stacked">
          <div class="custom-control custom-checkbox">
            <input
              name="topics"
              id="topics17"
              type="checkbox"
              aria-describedby="topicsHelpBlock"
              class="custom-control-input"
              value="sort"
            />
            <label for="topics17" class="custom-control-label">Sort (77)</label>
          </div>
        </div>
        <div class="custom-controls-stacked">
          <div class="custom-control custom-checkbox">
            <input
              name="topics"
              id="topics18"
              type="checkbox"
              aria-describedby="topicsHelpBlock"
              class="custom-control-input"
              value="stack"
            />
            <label for="topics18" class="custom-control-label"
              >Stack (64)</label
            >
          </div>
        </div>
        <div class="custom-controls-stacked">
          <div class="custom-control custom-checkbox">
            <input
              name="topics"
              id="topics19"
              type="checkbox"
              aria-describedby="topicsHelpBlock"
              class="custom-control-input"
              value="string"
            />
            <label for="topics19" class="custom-control-label"
              >String (221)</label
            >
          </div>
        </div>
        <div class="custom-controls-stacked">
          <div class="custom-control custom-checkbox">
            <input
              name="topics"
              id="topics20"
              type="checkbox"
              aria-describedby="topicsHelpBlock"
              class="custom-control-input"
              value="tree"
            />
            <label for="topics20" class="custom-control-label"
              >Tree (158)</label
            >
          </div>
        </div>
        <div class="custom-controls-stacked">
          <div class="custom-control custom-checkbox">
            <input
              name="topics"
              id="topics21"
              type="checkbox"
              aria-describedby="topicsHelpBlock"
              class="custom-control-input"
              value="trie"
            />
            <label for="topics21" class="custom-control-label">Trie (20)</label>
          </div>
        </div>
        <div class="custom-controls-stacked">
          <div class="custom-control custom-checkbox">
            <input
              name="topics"
              id="topics22"
              type="checkbox"
              aria-describedby="topicsHelpBlock"
              class="custom-control-input"
              value="twoPointers"
            />
            <label for="topics22" class="custom-control-label"
              >Two Pointers (73)</label
            >
          </div>
        </div>
        <div class="custom-controls-stacked">
          <div class="custom-control custom-checkbox">
            <input
              name="topics"
              id="topics23"
              type="checkbox"
              aria-describedby="topicsHelpBlock"
              class="custom-control-input"
              value="unionFind"
            />
            <label for="topics23" class="custom-control-label"
              >Union Find (38)</label
            >
          </div>
        </div>
        <span id="topicsHelpBlock" class="form-text text-muted"
          >Number represents available questions per LeetCode
        </span>
      </div>
    </div>

    <hr class="thick" />
    <h3>Solo Settings</h3>
    <hr />
    <div class="form-group">
      <label>5. I would like to get daily questions on these days:</label>
      <div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <input
            name="soloDays"
            id="soloDays0"
            type="checkbox"
            aria-describedby="soloDaysHelpBlock"
            class="custom-control-input"
            value="sun"
          />
          <label for="soloDays0" class="custom-control-label">Sun</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <input
            name="soloDays"
            id="soloDays1"
            type="checkbox"
            aria-describedby="soloDaysHelpBlock"
            class="custom-control-input"
            value="mon"
          />
          <label for="soloDays1" class="custom-control-label">Mon</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <input
            name="soloDays"
            id="soloDays2"
            type="checkbox"
            aria-describedby="soloDaysHelpBlock"
            class="custom-control-input"
            value="tue"
          />
          <label for="soloDays2" class="custom-control-label">Tue</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <input
            name="soloDays"
            id="soloDays3"
            type="checkbox"
            aria-describedby="soloDaysHelpBlock"
            class="custom-control-input"
            value="wed"
          />
          <label for="soloDays3" class="custom-control-label">Wed</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <input
            name="soloDays"
            id="soloDays4"
            type="checkbox"
            aria-describedby="soloDaysHelpBlock"
            class="custom-control-input"
            value="thu"
          />
          <label for="soloDays4" class="custom-control-label">Thu</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <input
            name="soloDays"
            id="soloDays5"
            type="checkbox"
            aria-describedby="soloDaysHelpBlock"
            class="custom-control-input"
            value="fri"
          />
          <label for="soloDays5" class="custom-control-label">Fri</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <input
            name="soloDays"
            id="soloDays6"
            type="checkbox"
            aria-describedby="soloDaysHelpBlock"
            class="custom-control-input"
            value="sat"
          />
          <label for="soloDays6" class="custom-control-label">Sat</label>
        </div>
        <span id="soloDaysHelpBlock" class="form-text text-muted"
          >Leave empty or use the <code>cancel solo</code> cmd to stop daily
          questions</span
        >
      </div>
    </div>

    <div class="form-group">
      <label
        >6. I would like my questions to be of this difficulty level or from
        this range:</label
      >
      <div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <input
            name="soloDifficulty"
            id="soloDifficulty0"
            type="checkbox"
            aria-describedby="difficultyHelpBlock"
            class="custom-control-input"
            value="easy"
          />
          <label for="soloDifficulty0" class="custom-control-label">Easy</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <input
            name="soloDifficulty"
            id="soloDifficulty1"
            type="checkbox"
            aria-describedby="difficultyHelpBlock"
            class="custom-control-input"
            value="medium"
          />
          <label for="soloDifficulty1" class="custom-control-label"
            >Medium</label
          >
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <input
            name="soloDifficulty"
            id="soloDifficulty2"
            type="checkbox"
            aria-describedby="difficultyHelpBlock"
            class="custom-control-input"
            value="hard"
          />
          <label for="soloDifficulty2" class="custom-control-label">Hard</label>
        </div>
        <span id="difficultyHelpBlock" class="form-text text-muted"
          >You can pick more than one if you'd like some variability (will
          randomly choose each session)</span
        >
      </div>
    </div>
    <hr class="thick" />
    <h3>Pairing Settings</h3>
    <hr />
    <div class="form-group">
      <label>7. I would like my problem to be selected by:</label>
      <div>
        <div class="custom-control custom-radio custom-control-inline">
          <input
            name="questionSelection"
            id="questionSelection0"
            type="radio"
            aria-describedby="questionSelectionHelpBlock"
            class="custom-control-input"
            value="randomQuestion"
            required="required"
          />
          <label for="questionSelection0" class="custom-control-label"
            >Mock Interview Bot</label
          >
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input
            name="questionSelection"
            id="questionSelection1"
            type="radio"
            aria-describedby="questionSelectionHelpBlock"
            class="custom-control-input"
            value="manualQuestion"
            required="required"
          />
          <label for="questionSelection1" class="custom-control-label"
            >Myself</label
          >
        </div>
        <span id="questionSelectionHelpBlock" class="form-text text-muted"
          >If not done through MIB, please communicate your question to your
          interviewer in advance</span
        >
      </div>
    </div>

    <div class="form-group">
      <label
        >8. I would like my questions to be of this difficulty level or from
        this range:</label
      >
      <div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <input
            name="pairingDifficulty"
            id="pairingDifficulty0"
            type="checkbox"
            aria-describedby="difficultyHelpBlock"
            class="custom-control-input"
            value="easy"
          />
          <label for="pairingDifficulty0" class="custom-control-label"
            >Easy</label
          >
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <input
            name="pairingDifficulty"
            id="pairingDifficulty1"
            type="checkbox"
            aria-describedby="difficultyHelpBlock"
            class="custom-control-input"
            value="medium"
          />
          <label for="pairingDifficulty1" class="custom-control-label"
            >Medium</label
          >
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <input
            name="pairingDifficulty"
            id="pairingDifficulty2"
            type="checkbox"
            aria-describedby="difficultyHelpBlock"
            class="custom-control-input"
            value="hard"
          />
          <label for="pairingDifficulty2" class="custom-control-label"
            >Hard</label
          >
        </div>
        <span id="difficultyHelpBlock" class="form-text text-muted"
          >You can pick more than one if you'd like some variability (will
          randomly choose each session)</span
        >
      </div>
    </div>
    <div class="form-group">
      <label>9. I would like to use the following environment:</label>
      <div>
        <div class="custom-control custom-radio custom-control-inline">
          <input
            name="environment"
            id="environment0"
            type="radio"
            class="custom-control-input"
            value="leetcode"
            aria-describedby="environmentHelpBlock"
            required="required"
          />
          <label for="environment0" class="custom-control-label"
            >LeetCode</label
          >
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input
            name="environment"
            id="environment1"
            type="radio"
            class="custom-control-input"
            value="replit"
            aria-describedby="environmentHelpBlock"
            required="required"
          />
          <label for="environment1" class="custom-control-label">Repl.it</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input
            name="environment"
            id="environment2"
            type="radio"
            class="custom-control-input"
            value="googleDocs"
            aria-describedby="environmentHelpBlock"
            required="required"
          />
          <label for="environment2" class="custom-control-label"
            >Google Docs</label
          >
        </div>
        <span id="environmentHelpBlock" class="form-text text-muted"
          >How closely you want to replicate a traditional phone screen
          environment</span
        >
      </div>
    </div>
    <div class="form-group">
      <label for="comments">10. Comments</label>
      <textarea
        id="comments"
        name="comments"
        cols="40"
        rows="5"
        aria-describedby="commentsHelpBlock"
        class="form-control"
      ></textarea>
      <span id="commentsHelpBlock" class="form-text text-muted"
        >Anything else you'd like your interviewer to know</span
      >
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-lg btn-block">
        Save Settings
      </button>
    </div>
  </form>
  <body></body>
</html>
