<!-- <head> -->
<!--   <link rel="stylesheet" href="styles.css" /> -->
<!-- </head> -->
<!-- <body> -->
<!--   <h1>Config - Chetan Kini</h1> -->
<!--   <form method="POST"> -->
<!--     <label for="interviewee">I want a problem of this difficulty: </label> -->
<!--     <select name="interviewee" id="interviewee"> -->
<!--       <option value="leetcode">Easy</option> -->
<!--       <option value="replit">Medium</option> -->
<!--       <option value="googledocs">Hard</option> -->
<!--     </select> -->
<!--     <br /> -->
<!--     <label for="interviewer" -->
<!--       >I am comfortable conducting an interview of this difficulty (and below): -->
<!--     </label> -->
<!--     <select name="interviewer" id="interviewer"> -->
<!--       <option value="leetcode">Easy</option> -->
<!--       <option value="replit">Medium</option> -->
<!--       <option value="googledocs">Hard</option> -->
<!--     </select> -->
<!--     <br /> -->
<!--     <label for="environment" -->
<!--       >I want Mock Interview Bot to select a problem for me: -->
<!--     </label> -->
<!--     <input type="checkbox" checked /> -->
<!--     <br /> -->
<!--     <label for="questionlist">I would like a problem to be picked from: </label> -->
<!--     <select name="questionlist" id="questionlist"> -->
<!--       <option value="top100liked">Top 100 Liked Questions</option> -->
<!--       <option value="topinterview">Top Interview Questions</option> -->
<!--       <option value="blind75">Blind 75</option> -->
<!--       <option value="leetcodepatterns">LeetCode Patterns</option> -->
<!--       <option value="random">Random</option> -->
<!--     </select> -->
<!--     <br /> -->
<!--     <label>Topics I'd like to work on: </label> -->
<!--     <ul class="checkbox-grid"> -->
<!--       <li> -->
<!--         <input type="checkbox" name="array" value="array" />Array<label -->
<!--           for="array" -->
<!--         ></label> -->
<!--       </li> -->
<!--       <li> -->
<!--         <input -->
<!--           type="checkbox" -->
<!--           name="backtracking" -->
<!--           value="backtracking" -->
<!--         />Backtracking<label for="backtracking"></label> -->
<!--       </li> -->
<!--       <li> -->
<!--         <input type="checkbox" name="" value="" />Temp<label for=""></label> -->
<!--       </li> -->
<!--       <li> -->
<!--         <input type="checkbox" name="" value="" />Temp<label for=""></label> -->
<!--       </li> -->
<!--       <li> -->
<!--         <input type="checkbox" name="" value="" />Temp<label for=""></label> -->
<!--       </li> -->
<!--       <li> -->
<!--         <input type="checkbox" name="" value="" />Temp<label for=""></label> -->
<!--       </li> -->
<!--       <li> -->
<!--         <input type="checkbox" name="" value="" />Temp<label for=""></label> -->
<!--       </li> -->
<!--       <li> -->
<!--         <input type="checkbox" name="" value="" />Temp<label for=""></label> -->
<!--       </li> -->
<!--       <li> -->
<!--         <input type="checkbox" name="" value="" />Temp<label for=""></label> -->
<!--       </li> -->
<!--       <li> -->
<!--         <input type="checkbox" name="" value="" />Temp<label for=""></label> -->
<!--       </li> -->
<!--       <li> -->
<!--         <input type="checkbox" name="" value="" />Temp<label for=""></label> -->
<!--       </li> -->
<!--       <li> -->
<!--         <input type="checkbox" name="" value="" />Temp<label for=""></label> -->
<!--       </li> -->
<!--       <li> -->
<!--         <input type="checkbox" name="" value="" />Temp<label for=""></label> -->
<!--       </li> -->
<!--       <li> -->
<!--         <input type="checkbox" name="" value="" />Temp<label for=""></label> -->
<!--       </li> -->
<!--       <li> -->
<!--         <input type="checkbox" name="" value="" />Temp<label for=""></label> -->
<!--       </li> -->
<!--       <li> -->
<!--         <input type="checkbox" name="" value="" />Temp<label for=""></label> -->
<!--       </li> -->
<!--       <li> -->
<!--         <input type="checkbox" name="" value="" />Temp<label for=""></label> -->
<!--       </li> -->
<!--       <li> -->
<!--         <input type="checkbox" name="" value="" />Temp<label for=""></label> -->
<!--       </li> -->
<!--       <li> -->
<!--         <input type="checkbox" name="" value="" />Temp<label for=""></label> -->
<!--       </li> -->
<!--       <li> -->
<!--         <input type="checkbox" name="" value="" />Temp<label for=""></label> -->
<!--       </li> -->
<!--       <li> -->
<!--         <input type="checkbox" name="" value="" />Temp<label for=""></label> -->
<!--       </li> -->
<!--       <li> -->
<!--         <input type="checkbox" name="" value="" />Temp<label for=""></label> -->
<!--       </li> -->
<!--       <li> -->
<!--         <input type="checkbox" name="" value="" />Temp<label for=""></label> -->
<!--       </li> -->
<!--       <li> -->
<!--         <input type="checkbox" name="" value="" />Temp<label for=""></label> -->
<!--       </li> -->
<!--     </ul> -->

<!--     <select name="questionlist" id="questionlist" multiple> -->
<!--       <option id="Array">Array</option> -->
<!--       <option id="Backtracking">Backtracking</option> -->
<!--       <option id="Binary Search">Binary Search</option> -->
<!--       <option id="Bit Manipulation">Bit Manipulation</option> -->
<!--       <option id="Breadth-first Search">Breadth-first Search</option> -->
<!--       <option id="Depth-first Search">Depth-first Search</option> -->
<!--       <option id="Design">Design</option> -->
<!--       <option id="Divide and Conquer">Divide and Conquer</option> -->
<!--       <option id="Dynamic Programming">Dynamic Programming</option> -->
<!--       <option id="Graph">Graph</option> -->
<!--       <option id="Greedy">Greedy</option> -->
<!--       <option id="Hash Table">Hash Table</option> -->
<!--       <option id="Heap">Heap</option> -->
<!--       <option id="Linked List">Linked List</option> -->
<!--       <option id="Math">Math</option> -->
<!--       <option id="Recursion">Recursion</option> -->
<!--       <option id="Sliding Window">Sliding Window</option> -->
<!--       <option id="Sort">Sort</option> -->
<!--       <option id="Stack">Stack</option> -->
<!--       <option id="String">String</option> -->
<!--       <option id="Tree">Tree</option> -->
<!--       <option id="Trie">Trie</option> -->
<!--       <option id="Two Pointers">Two Pointers</option> -->
<!--       <option id="Union Find">Union Find</option> -->
<!--     </select> -->
<!--     <br /> -->
<!--     <label for="environment">Preferred environment:</label> -->
<!--     <select name="environment" id="environment"> -->
<!--       <option value="leetcode">LeetCode</option> -->
<!--       <option value="replit">Repl.it</option> -->
<!--       <option value="googledocs">Google Docs</option> -->
<!--     </select> -->
<!--     <br /> -->
<!--     <label>Additional Notes:</label><br /> -->
<!--     <textarea name="notes"></textarea><br /> -->
<!--     <input value="Save" type="submit" /> -->
<!--   </form> -->
<!-- </body> -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="static/css/normalize.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/css/main.css" />
  </head>
  <body>
    <form action="index.html" method="post">
      <h2>Config for Chetan Kini</h2>

      <label for="name">Name</label>
      <input type="text" id="name" name="student_name" />

      <label for="mail">Email</label>
      <input type="email" id="mail" name="student_email" />

      <label for="password">Password</label>
      <input type="password" id="password" name="student_password" />

      <label>Interview Question</label>
      <input
        type="radio"
        id="under_16"
        value="under_16"
        name="user_age"
      /><label for="under_16" class="light"
        >I'll have Mock Interview Bot select one for me</label
      ><br />
      <input type="radio" id="over_16" value="over_16" name="user_age" /><label
        for="over_16"
        class="light"
        >I'll select a question and disuss it with my interviewer
      </label>
      <br />

      <label>Interview Question</label>
      <input
        type="radio"
        id="under_16"
        value="under_16"
        name="user_age"
      /><label for="under_16" class="light"
        >I'll have Mock Interview Bot select one for me</label
      ><br />
      <input type="radio" id="over_16" value="over_16" name="user_age" /><label
        for="over_16"
        class="light"
        >I'll select a question and disuss it with my interviewer
      </label>
      <br />

      <label for="bio">Additional Notes for Interviewer</label>
      <textarea id="bio" name="student_bio"></textarea>

      <label for="courses">Select Courses</label>
      <select id="courses" name="student_courses">
        <optgroup label="Common Topics">
          <option id="Array">Array (312)</option>
          <option id="Backtracking">Backtracking (67)</option>
          <option id="Binary Search">Binary Search (102)</option>
          <option id="Breadth-first Search">Breadth-first Search (89)</option>
          <option id="Depth-first Search">Depth-first Search (156)</option>
          <option id="Divide and Conquer">Divide and Conquer</option>
          <option id="Dynamic Programming">Dynamic Programming</option>
          <option id="Graph">Graph</option>
          <option id="Greedy">Greedy</option>
          <option id="Hash Table">Hash Table</option>
          <option id="Heap">Heap</option>
          <option id="Linked List">Linked List</option>
          <option id="Recursion">Recursion</option>
          <option id="Sliding Window">Sliding Window</option>
          <option id="Sort">Sort</option>
          <option id="Stack">Stack</option>
          <option id="String">String</option>
          <option id="Tree">Tree</option>
          <option id="Two Pointers">Two Pointers</option>
          <option id="Queue">Queue</option>
          <option id="Binary Search Tree">Binary Search Tree</option>
          <option id="Dequeue">Dequeue</option>
          <option id="Memoization">Memoization</option>
        </optgroup>
        <optgroup label="Niche Topics">
          <option id="Binary Indexed Tree">Binary Indexed Tree</option>
          <option id="Bit Manipulation">Bit Manipulation</option>
          <option id="Brainteaser">Brainteaser</option>
          <option id="Design">Design</option>
          <option id="Geometry">Geometry</option>
          <option id="Line Sweep">Line Sweep</option>
          <option id="Math">Math</option>
          <option id="Meet in the Middle">Meet in the Middle</option>
          <option id="Minimax">Minimax</option>
          <option id="OOP">OOP</option>
          <option id="Ordered Map">Ordered Map</option>
          <option id="Random">Random</option>
          <option id="Rejection Sampling">Rejection Sampling</option>
          <option id="Reservoir Sampling">Reservoir Sampling</option>
          <option id="Rolling Hash">Rolling Hash</option>
          <option id="Segment Tree">Segment Tree</option>
          <option id="Suffix Array">Suffix Array</option>
          <option id="Topological Sort">Topological Sort</option>
          <option id="Trie">Trie</option>
          <option id="Union Find">Union Find</option>
        </optgroup>
      </select>

      <label>Interests:</label>
      <input
        type="checkbox"
        id="engineering"
        value="interest_engineering"
        name="user_interest"
      /><label class="light" for="engineering">Engineering</label><br />
      <input
        type="checkbox"
        id="business"
        value="interest_business"
        name="user_interest"
      /><label class="light" for="business">Business</label><br />
      <input
        type="checkbox"
        id="law"
        value="interest_law"
        name="user_interest"
      /><label class="light" for="law">Law</label>

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
